@charset "utf-8";
body{
	background-image: url(background.png);
	background-repeat: no-repeat;
}
.logo {
  background-image: url("logo.png");
  position: absolute;
  left: 254px;
  top: 32px;
  width: 450px;
  height: 162px;
  z-index: 3;
}
.ADMIN_PANEL {
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
  color: rgb(73, 6, 7);
  line-height: 0.5;
  position: absolute;
  left: 360px;
  top: 220px;
  z-index: 3;
}
#loggedin #login_page{
	display: none;
}
#user{
	width:25%;
	height: 40px;
	position: absolute;
	left:320px;
	top:270px;
	font-family: 'Quicksand', sans-serif;
}
#pwd{
	width:25%;
	height:40px;
	position: absolute;
	left:320px;
	top:320px;
	font-family: 'Quicksand', sans-serif;
}
.frgt{
	font-family: 'Quicksand', sans-serif;
	color: aliceblue;
	position:absolute;
	left:540px;
	top:370px;
	
}
.frgt a{
	color: white;
}
#login{
	width:200px;
	height:40px;
	position: absolute;
	left: 380px;
	top: 420px;
	font-family: 'Quicksand', sans-serif;
	background: #940609;
	border: none;
	box-shadow: 0 8px 6px -6px black;
}
#login:hover{
	height:60px;
}
.modal{
	font-family: 'Quicksand', sans-serif;
}

.success{
	font-family: 'Quicksand', sans-serif;
	font-size: 24px;
	color:white;
	position: absolute;
	top:260px;
	left:320px;
	z-index: 4;
}

#musers{
	width:200px;
	height:40px;
	position: absolute;
	left: 380px;
	top: 340px;
	font-family: 'Quicksand', sans-serif;
	background: #940609;
	border: none;
	box-shadow: 0 8px 6px -6px black;
	z-index:4;
}
#musers:hover{
	height:60px;
}
#logout{
	width:200px;
	height:40px;
	position: absolute;
	left: 380px;
	top: 420px;
	font-family: 'Quicksand', sans-serif;
	background: #940609;
	border: none;
	box-shadow: 0 8px 6px -6px black;
	z-index: 4;
}
#logout:hover{
	height:60px;
}
